@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 240, 248, 255; /* Alice blue */
  --background-end-rgb: 224, 255, 255; /* Light Cyan */
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom left,
    rgb(var(--background-start-rgb)),
    rgb(var(--background-end-rgb))
  );
}
